.galleryWrapper{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
    display: flex;
    position: relative;
    font-family: 'Oswald', sans-serif;
    /* background-image: url(../images/motor.jpg); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    flex-direction: column;
}
.galleryShadowBox{
    background-color: rgba(0, 0, 0, 0.767);
    backdrop-filter: blur(8px);
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.galleryMainModal{
    position: fixed;
    background-color: rgba(22, 22, 22, 0.8);
    border-radius: 5px;
    top:5%;
    left: 5%;
    width: 90%;
    height: 90%;
    z-index: 2;

}
.galleryTitle{
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0;
}
.galleryText{
    margin: 20px 0;
}
.galleryMain{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    width: 80%;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
.galleryList{
    display: flex;
    flex-wrap: wrap;
    gap:25px;
    list-style: none;
    padding: 0;
    justify-content: center;
    max-width: 866px;
    /* background-color: red; */
}
.galleryElement{
/* background-color: rgb(56, 56, 56); */
background: linear-gradient(180deg, rgb(14, 14, 14) 0%, rgb(24, 24, 24) 53%, rgba(31,31,31,1) 100%);
display: flex;
flex-direction: column;
gap:10px;
border: 1px solid rgb(27, 27, 27);
border-radius: 3px;
padding: 10px;
box-shadow: 3px 3px 8px 0px rgb(17, 17, 17);
cursor: pointer;
transition: all 0.5s;
align-items: center;
width: 250px;
height: 380px;
color:rgb(94, 94, 94);
}
.galleryElement:hover{
background: linear-gradient(180deg, rgb(20, 20, 20) 0%, rgb(31, 30, 30) 53%, rgb(36, 35, 35) 100%);
border: 1px solid rgb(68, 68, 68);
color:rgb(172, 172, 172);

}
.galleryElement img{
    width: 100%;
    height: 240px;
    object-fit: fill;
    border-radius: 3px;
}
.galleryBtn{
    border-radius: 3px;
    height: 30px;
    padding: 2px 10px;
    cursor: pointer;
    color:white;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid rgba(255, 255, 255, 0.13);
    background-color: rgba(0, 0, 0, 0.411);
    transition: all 0.5s;

}
.galleryBtn:hover{
    background-color: rgba(110, 110, 110, 0.411);
}

.gallerySubTitle{
    font-size: 20px;
    margin: 0;
    color:white;
}

.gallerySubText{
    margin: 0;
    font-size: 15px;
    text-align: center;
    min-height: 55px;
}
